html{
    height: 100%;
}


body{
    line-height: 1.6;
    word-spacing: 16%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #121213;
}

.wrap{
    max-height: 80%;
    position:relative;
    display: flex;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
}
.gamebox{
    height: 70%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.row{
    width: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

.tile{
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    text-transform: uppercase;
    user-select: none;
}

.tile-letter{
    width: 100%;
    min-width: 3rem;
    min-height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
    display: inline-flex;
    text-align: center;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid gray;
    user-select: none;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor:text;
    overflow: hidden;
}

.tile-letter[selected="true"]{
    border-color: white;
}

.color-button{
    width: 100%;
    height: 100%;
    min-width: 3rem;
    max-width: 3rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    user-select: none;
    border: 1px solid gray;

}

.color-button:hover{
    border-color: white;
    cursor:pointer;
}

button{
    display: inline-block;
    flex-wrap: wrap;
    flex:auto;
    background-color: #121213;
    border: 2px solid gray;
    padding: 1rem;
    text-transform: uppercase;
    height: max-content;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    margin: 1.5rem;
}

.button-holder{
    align-self: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 20%;
}

header{
    font-size: 4rem;
    border-bottom: inset 2px rgba(128, 128, 128, 0.459);
    padding: 0.25rem;
    margin-bottom: 1rem;
    user-select: none;
}

#popup{
    display:flex;

    z-index: 100;
    position: relative;
    top: 6rem;
    width: 25%;
    height:60%;
    border: 2px inset gray;
    padding: 1rem;
    background-color:#121213;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 3rem;

}

#overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 9;
}

#word-recipient{
    align-self: center;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;

}

#part-of-speech{
    align-self: start;
    font-weight: lighter;
    font-style: italic;
    min-height: 1.6rem;
    
}

#word-meaning{
    text-align: justify;
    min-height: 70%;
    max-height: 70%;
    font-size: 1.1rem;
    padding-inline-end: 1rem;
    margin-block-end: 0;
    overflow:auto;
}

.text-wrap{
    min-height: fit-content;
    display: block;
    width: 85%;
    min-height:100%;
    margin: 5%;
    padding: 2.5%;
    padding-inline-start:1rem;
    flex-grow: 0;
    
}

#meaning-wrap{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    min-height: 50%;
    max-height: 50%;
    width:100%;
    justify-self: center;
    margin: 1rem;
}

.meaning-button{
    margin:auto;
    padding: 0.5rem;
    height:100%;
}

#dict-credit{
    font-size: 0.7rem;
    font-style: italic;
    font-weight: lighter;
    margin-block-start: 0.25rem;
}

#error-displayer{
    position: absolute;
    top: 17%;
    left: 50%;
    width: fit-content;
    pointer-events: none;
    transform: translate(-50%,0);
    z-index: 1000;
}

.error-popup{
    background-color: rgba(236, 235, 235,0.85);
    color:black;
    user-select: none;
    pointer-events: none;
    font-weight:bold;
    padding: 0.5rem;
    margin:1rem;
    border-radius: 5px;
}